<!DOCTYPE html>
<html lang = en>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Counter Tracker</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper brown">
                <div class="container">
                    <a href="/" class="brand-logo">Counter</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <!-- Main nav, hidden for small screens -->
                    <ul id="desktop-nav" class="right hide-on-med-and-down">
                        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                        <li><a href="/counter"><i class="material-icons left">list</i>Inventory</a></li>
                        <% if (isLoggedIn) { %>
                            <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                            <li><a href="/logout" class="btn red">Logout</a></li>
                        <% } else { %>
                            <li><a href="/login" class="btn blue">Login</a></li>
                        <% } %>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Mobile nav menu, shown when menu button clicked -->
        <ul id="mobile-nav" class="sidenav">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/counter"><i class="material-icons left">list</i>Inventory</a></li>
            <li><a href="/login" class="btn blue">Login</a></li>
            <li><a href="/logout" class="btn red">Logout</a></li>
        </ul>
    </header>


    <div class="container">
        <div class="section">
            <h2>Counter Tracker</h2>
            <a class="btn-flat btn-large" href="/">
                <i class="material-icons">arrow_back</i>
            </a>

            <table class="striped">
                <thead> 
                  <tr> 
                    <th>Name</th>
                    <th>Amount</th>
                  </tr>  
                </thead>

                <tbody>
                    <% for (let i = 0; i < inventory.length; i++) { %>
                    <tr>
                        <td><%= inventory[i].item %></td>
                        <td><%= inventory[i].quantity %></td>
                        <td>
                            <a class="waves-effect waves-light btn-flat" href=<%= "/counter/edit/" + inventory[i].id %>>
                                <i class="material-icons right">edit</i>
                            </a>
                            <a class="waves-effect waves-light btn-flat" href="/counter/edit/<%= inventory[i].id %>/delete">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    
                    </tr>
                    <% } %>
                    
                </tbody>    


            </table>

            <div class="section">
                <h2>Add a Counter</h2>
                <div id="adder">
                    <form method = "post" action="/counter"> 
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" placeholder="Counter Name" name="name" id="nameInput" class="validate" data-length="32" required>
                                    
                            </div>
                            <div class="input-field col s6">
                                <input type="number" placeholder="Quantity" name="quantity" id="quantityInput" required>
                            </div>

                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" placeholder="Description" name="description" id="descriptionInput" data-length="100">
                            </div>

                        </div>

                        <button class="waves-effect waves-light btn" type="submit" id="submitter">
                            <i class="material-icons right">send</i>
                            Submit
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="/scripts/autoinit.js"></script>
    
</body>



</html>
