<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Counter Editor</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">  

    <style>
        #closer{
            float:left;
        }
        #deleter{
            float:right;
        }

    </style>
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">

</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper brown">
                <div class="container">
                    <a href="/" class="brand-logo">Counter</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <!-- Main nav, hidden for small screens -->
                    <ul id="desktop-nav" class="right hide-on-med-and-down">
                        <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                        <li><a href="/counter"><i class="material-icons left">list</i>Inventory</a></li>
                        <% if (isLoggedIn) { %>
                            <li><a href="/profile"><i class="material-icons left">person</i> Hello, <%=user.name%></a> </li>
                            <li><a href="/logout" class="btn red">Logout</a></li>
                        <% } else { %>
                            <li><a href="/login" class="btn blue">Login</a></li>
                        <% } %>
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Mobile nav menu, shown when menu button clicked -->
        <ul id="mobile-nav" class="sidenav">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/counter"><i class="material-icons left">list</i>Inventory</a></li>
            <li><a href="/login" class="btn blue">Login</a></li>
            <li><a href="/logout" class="btn red">Logout</a></li>
        </ul>
    </header>


    <div class="container"> 
        <div class="section">
            
            <h2>Details</h2>
            
            <a class="btn-flat btn-large" href="/counter">
                <i class="material-icons">arrow_back</i>
            </a>
    
            <table class="striped">
                <tr>
                    <th>Item:</th>
                    <td><%= item %></td>
                </tr>
                <tr>
                    <th>Quantity:</th>
                    <td><%= quantity %></td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td><%= description %></td>
                </tr>

            </table>
        </div>

        <div class="section">
            <a class="waves-effect waves-light btn modal-trigger" href="#itemEdit">
                <i class="material-icons right">edit</i>
                Edit
            </a>

            <a class="waves-effect waves-light btn red" id="deleter" href="/counter/edit/<%=id%>/delete">
                <i class="material-icons right">delete</i>
                Delete
            </a>
        </div>

        <div class="modal" id="itemEdit">
            
            <div class="modal-content">
                <h3>Edit Item:</h3>
                <form method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" name="name" id="nameInput" class="validate" data-length="32" value="<%= item%>" required>
                                
                        </div>
                        <div class="input-field col s6">
                            <input type="number" name="quantity" id="quantityInput" value=<%=quantity%> required>
                        </div>

                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="description" id="descriptionInput" data-length="100" value="<%= description%>">
                        </div>

                    </div>
                
                    <div class="modal-footer">
                        <a class="modal-close btn-flat" href="counter\edit" id="closer">Close</a>

                        <button class="waves-effect waves-light btn" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </form>
            </div>

            
        </div>
    </div>

     <!-- Materialize JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     
     <script src="/scripts/autoinit.js"></script>


</body>



</html>
